################################# IDE/Editor #################################
#===== VS Code =====#
.vscode/*

#===== Extensions =====#
*.inp
*.oac

##################################### OS #####################################
#===== Mac OS =====#
.DS_Store

#===== Windows =====#
#===== Linux =====#

#################################### LANG ####################################
#===== Python3 =====#
__pycache__/
#===== C++14 / C =====#
*.out

################################### TOOLS ###################################
#===== Logs =====#
logs/