################################# IDE/Editor #################################
#===== VS Code =====#
.vscode/*

##################################### OS #####################################
#===== Mac OS =====#
.DS_Store

#===== Windows =====#
#===== Linux =====#

#################################### LANG ####################################
#===== Python3 =====#
#===== C++14 =====#
#===== C =====#